@model IEnumerable<Questions>

@{
    ViewData["Title"] = "Exam - Index";
}
<div class="title-div d-flex justify-content-between">
    <h2>Exam 'user' page</h2>
    <p>[datetime]</p>
</div>
<div class="d-flex flex-row mb-3 bg-secondary-subtle"> 
    <h2 class="p-2 text-nowrap">Choose a Question:</h2>


    <select id="questionDropdown" class="form-control p-2">
        <option value="">-- Wybierz pytanie --</option>
        @foreach (var q in Model)
        {
            <option value="@q.ID" style={width: 20px}>@q.ID. @q.QuestionText</option>
        }
    </select>
</div>

<div id="labelContainer" class="mt-3 alert alert-info" style="display: none;">
    <label ><strong>Selected Question:</strong></label>
    <span id="selectedQuestionTextLabel"></span> 
</div>

<div class="container-index" id="divContainer">
    <label><strong>Your answer:</strong></label>
    <textarea id="givenAnswer" class="form-index"></textarea> 
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"><b>Answer Statistics:</b></a>
    <div class="hstack gap-3" id="navbarSupportedContent">
        <div class="p-2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">[Ilość odpowiedzi]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">[Ocena tego egzaminu %]</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                [Ocena postępów]
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">odpowiedź 1</a></li>
                <li><a class="dropdown-item">odpowiedź 2</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Historia moich odpowiedzi</a></li>
              </ul>
            </li>
          </ul>
      </div>
      <div class="p-2">
        <a class="nav-link" href="#">Moje statystyki</a>
      </div>
      <div class="hstack gap-3">
        <div class="vr"></div>
        <div class="p-2">
            <button id="AssessmentButton" type="button" class="btn btn-primary"style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <b>Test by AI</b>
            </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-index" id="divContainer">
    <label><strong>AI assessment and motivation</strong></label>
    <textarea id="assessment" class="form-index"></textarea> 
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdown = document.getElementById('questionDropdown');
            const container = document.getElementById('labelContainer');
            const label = document.getElementById('selectedQuestionTextLabel');

            dropdown.addEventListener('change', async function() {
                const selectedid = this.value;

                if(!selectedid){
                    container.style.display = 'none';
                    return;
                }

                try {
                    const formData = new FormData();
                    formData.append('selectedID', selectedid);

                    const response = await fetch('@Url.Action("GetQuestionDetails", "Exam")',
                    {
                        method: 'POST',
                        body: formData
                    })

                    if(response.ok) {
                        const data = await response.json();
                        label.textContent = data.questionText;
                        container.style.display = 'block';

                    } else {
                        console.error('Błąd sieci:', response.statusText);
                    }
                 } catch (error) {
                     console.error('Błąd pobierania danych:', error);
                }
            })
        });
    </script>
    <script>
        document.getElementById("AssessmentButton").addEventListener("click", async () => {
            const answer = document.getElementById("givenAnswer").value;
            const question = document.getElementById("selectedQuestionTextLabel").textContent;

            const formData = new FormData();
            formData.append('answer', answer);
            formData.append('question', question);

            const response = await fetch('@Url.Action("GetAssessment", "Exam")', {
                method: 'POST',
                body: formData
            })
            const result = await response.text();
            document.getElementById("assessment").value = result;
        });
    </script>
}